<table class="table">
  <thead>
    <tr>
      <th>Rank score</th>
      {{#each idn in gt.compounds.1.idns}}
      <th>{{idn}}</th>
      {{/each}}
      <th>Gene annotation</th>
      <th>Func. annotation</th>
      <th>Inheritance</th>
    </tr>
  </thead>

  {{#each compound in gt.compounds}}
    <tr>
    <td class="text-center">
      {{#link-to "variant" compound.vpk}}
        {{compound.rank_score}}
      {{/link-to}}
    </td>

    {{#each call in compound.gtCalls}}
    <td class="text-center">{{call}}</td>
    {{/each}}

    <td class="slim">{{compound.gene_annotation}}</td>
    <td class="slim">{{compound.functional_annotation}}</td>
    <td class="slim">{{compound.gene_model}}</td>
    </tr>
  {{/each}}
</table>