<div class="panel header-footer__wrapper--overlay families-panel medium">
  <div class="header--overlay text-center regular--stretched">
    <small>Families</small>
    
    <div class="bar--space-between families-header-labels">
      <div>Links</div>
      <div>NGS update</div>
    </div>
  </div>

  <div class="footer--overlay regular--stretched">
    <div class="btn" {{action "openModal" "newFamilyModal"}}>
      <div class="btn__body slim">Add new family</div>
    </div>
  </div>

  <div class="header-footer__body">
    {{#if model.isLoading}}
      <div class="center-center">
        <img src="/static/img/loader.gif">
      </div>
    {{else}}
      <div class="list--vertical">
        {{#each family in controller}}
          {{#unless family.isHidden}}
            <div class="list__item bar--space-between regular--stretched">
              <div>
                <div class="btn-group families-links-buttons">
                  <div class="btn">
                    {{#link-to "family" family classNames="btn__body regular--stretched"}}
                      Family {{family.id}}
                    {{/link-to}}
                  </div>
                  <div class="btn">
                    {{#link-to "variants" family classNames="btn__body regular--stretched"}}
                      Variants
                    {{/link-to}}
                  </div>
                  <div {{action "hideFamily" family}} class="btn">
                    <div class="btn__body regular--stretched">Hide</div>
                  </div>
                </div>{{! btn-group }}
              </div>

              <div>{{fromNow family.updateDate}}</div>
            </div>
          {{/unless}}
        {{/each}}
      </div>{{! END list--vertical }}
    {{/if}}
  </div>{{! END header-footer__body }}
</div>{{! panel }}

<div class="panel--sidebar header-footer__wrapper--overlay recent-comments-panel">
  <div class="header--overlay regular--stretched">
    <div class="medium text-center">Recent comments</div>
  </div>

  <div class="header-footer__body list--vertical">
    {{#each comment in recentComments}}
      <div class="list__item regular">
        <div>
          {{#if comment.isFamilyComment}}
            {{#link-to comment.context comment.parentId}}
              <div class="small text-center mb--tiny">
                Family {{comment.contextId}}
              </div>
            {{/link-to}}
          {{else}}
            <div class="small text-center mb--tiny">
              Variant {{comment.contextId}}
            </div>
          {{/if}}
          {{comment-box
              comment=comment
              commentId=comment._id
              date=comment.createdAt
              displayName=comment.firstName
          }}
        </div>
      </div>{{! list-item }}
    {{/each}}
  </div>{{! header-footer__body }}
</div>{{! panel }}

{{outlet}}
