<div class="panel header-footer__wrapper--overlay families-panel medium">

  <div class="header--overlay text-center regular--stretched">
    <small>Families</small>
    
    <div class="bar--space-between families-header-labels">
      <div>Links</div>
      <div>NGS update</div>
    </div>
  </div>

  <div class="footer--overlay regular--stretched">
    <div class="btn" {{action "openModal" "newFamilyModal"}}>
      <div class="btn__body slim">Add new family</div>
    </div>
  </div>

  <div class="header-footer__body">
    <div class="list--vertical">
      {{#each family in model}}
      {{#unless family.isHidden}}
        <div class="list__item bar--space-between regular--stretched">
          <div>
            <div class="btn-group families-links-buttons">
              <div class="btn">
                {{#link-to "family" family classNames="btn__body regular--stretched"}}
                  Family {{family.family_id}}
                {{/link-to}}
              </div>
              <div class="btn">
                {{#link-to "variants" family classNames="btn__body regular--stretched"}}
                  Variants
                {{/link-to}}
              </div>
              <div {{action "hideFamily" family}} class="btn">
                <div class="btn__body regular--stretched">Hide</div>
              </div>
            </div>
          </div>

          <div>{{fromNow family.updateDate}}</div>
        </div>
      {{/unless}}
      {{/each}}
    </div>{{! END header-footer__body }}
  </div>

</div>

{{outlet}}
