<div class="panel--sidebar issue-sidebar">
  <div class="header-footer__wrapper">
    <div class="header medium regular--stretched">Open issues</div>
    <div class="header-footer__body">
      <div class="list--vertical">
        {{#each issue in model}}
        <div class="list__item bar--space-between">
          <div class="regular medium column">
            <a {{bind-attr href="issue.url"}} target="_blank">{{issue.title}}</a>
          </div>
          <div class="regular medium column--small">{{fromNow issue.createdAt}}</div>
        </div>{{! END list__item }}
        {{else}}
        <div class="center-center"><small>No open issues.</small></div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="panel">

  <div class="center-center">
  {{#if newIssue.isNew}}

    {{#if newIssue.isSaving}}
    <div class="issue-sending">Sending issue...</div>

    {{else}}
    <form class="form--stacked" {{action 'confirmIssue' on='submit'}}>
      <p class="p--title large">Submit a new issue</p>
      {{input value=newIssue.title type="text" placeholder="Title" classNames="text-input slim medium mb"}}
      {{textarea value=newIssue.body placeholder="Describe your problem/request" classNames="text-input slim medium mb"}}

      {{#unless isConfirmingIssue}}
        <div type="submit" class="btn">
          <div class="btn__body fit large">Submit</div>
        </div>
      {{else}}
        <div {{action 'createIssue'}} class="btn">
          <div class="btn__body fit large">Are you sure?</div>
        </div>
      {{/unless}}
    </form>
    {{/if}}

  {{else}}

    {{! The new issue was successfully created }}
    <div class="issue-form">
      <h4>Your issue</h4>
      <p>Click the title to provide additional information and upload a screenshot.</p>
      <a {{bind-attr href="message.html_url"}} class="issue-title">
        {{message.title}}
      </a>
      <div class="issue-body-wrapper">{{{message.html}}}</div>

      <div {{action "reset"}} class="btn">
        <div class="btn__body">New issue</div>
      </div>
    </div>    

  {{/if}}
  </div>{{! END center-center}}

</div>{{! END panel}}
