<div class="panel--sidebar issue-sidebar">
  <div class="header-footer__wrapper">
    <div class="header medium regular--stretched">Open issues</div>
    <div class="header-footer__body">
      <div class="list--vertical">
        {{#each issue in model}}
        <div class="list__item bar--space-between">
          <div class="regular medium column">
            <a {{bind-attr href="issue.url"}} target="_blank">{{issue.title}}</a>
          </div>
          <div class="regular medium column--small">{{fromNow issue.createdAt}}</div>
        </div>{{! END list__item }}
        {{else}}
        <div class="center-center mt"><small>No open issues.</small></div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="panel">

  <div class="center-center">
  {{#if newIssue.isNew}}

    {{#if newIssue.isSaving}}
    <div class="center-center issue-sending large">Sending issue...</div>

    {{else}}
    <form class="form--stacked medium">
      <p class="p--title">Submit a new issue</p>
      {{input value=newIssue.title type="text" placeholder="Title" classNames="text-input slim mb"}}
      {{textarea value=newIssue.body placeholder="Describe your problem/request" classNames="text-input slim mb"}}

      {{#unless isConfirmingIssue}}
        <div {{action 'confirmIssue'}} class="btn">
          <div class="btn__body slim large">Submit</div>
        </div>
      {{else}}
        <div {{action "createIssue"}} class="btn">
          <div class="btn__body slim large">Are you sure?</div>
        </div>
      {{/unless}}
    </form>
    {{/if}}

  {{else}}

    {{! The new issue was successfully created }}
    <div class="issue-form medium regular-width">
      <p class="p--title">Your submitted issue</p>
      <p><small>Click the title to provide additional information and upload screenshots.</small></p>
      <a {{bind-attr href="newIssue.url"}} class="issue-title large">
        {{newIssue.title}}
      </a>
      <div class="issue-body-wrapper">{{{newIssue.html}}}</div>

      <div {{action "reset"}} class="btn">
        <div class="btn__body slim large">New issue</div>
      </div>
    </div>    

  {{/if}}
  </div>{{! END center-center}}

</div>{{! END panel}}
