{{#modal-dialog action="close"}}

  {{#if wasSent}}

    <p class="title mb large">Your order was sent!</p>

    <p class="medium mb">{{{body}}}</p>

    <div class="bar--center">
      <button {{action "close"}} class="btn">
        <div class="btn__body regular--stretched medium">Cancel</div>
      </button>
    </div>

  {{else}}
    {{#if isSending}}
      <div class="center-center"><img src="/static/img/loader.gif"></div>
    {{else}}
      <p class="title mb large">Order Sanger sequencing</p>

      <form class="form--stacked small">
        <label for="famil-id">Family</label>
        <div class="form__input-wrapper">
          {{input id="famil-id"
              valueBinding="family_id"
              classNames="text-input slim"}}
        </div>

        <label for="hgnc-symbol">HGNC symbol</label>
        <div class="form__input-wrapper">
          {{input id="hgnc-symbol"
              valueBinding="hgnc_symbol"
              classNames="text-input slim"}}
        </div>

        <label for="chr-pos">Chromosome position</label>
        <div class="form__input-wrapper">
          {{input id="chr-pos"
              valueBinding="chr_pos"
              classNames="text-input slim"}}
        </div>

        <label for="amino-change">Amino acid change</label>
        <div class="form__input-wrapper">
          {{textarea id="amino-change"
              valueBinding="amino_change"
              classNames="text-input slim"}}
        </div>

        <label for="gt-call">GT Call</label>
        <div class="form__input-wrapper">
          {{textarea id="gt-call"
              valueBinding="gt_call"
              classNames="text-input slim"}}
        </div>

        <div class="btn-group">
          <button {{action "sendForm"}} class="btn">
            <div class="btn__body regular--stretched medium">Confirm</div>
          </button>
          <button {{action "close"}} class="btn">
            <div class="btn__body regular--stretched medium">Cancel</div>
          </button>
        </div>
      </form>
    {{/if}}
  {{/if}}
{{/modal-dialog}}