<div class="panel variant">

  <div class="panel__overlay--header variant-header">
    <div class="list--vertical">
      <div class="list__item">
        <div class="list__column--small fixed center-text">
          <div class="rank-score">{{rankScore}}</div>
        </div>
        <div class="list__column fixed">
          {{hgncSymbol}}
          <br>
          <small>Chr {{chrom}}</small>
        </div>
        <div class="list__column fixed">
          {{refNt}} &rarr; {{altNt}}<br>
          <small>
            {{capitalize geneAnnotation}} |
            {{#if functionalAnnotation}}
              {{capitalize functionalAnnotation}}
            {{else}}
              No functional annotation
            {{/if}}
          </small>
        </div>
        <div class="list__column fixed">
          <div class="btn-group">
            <div {{action 'openOrderModal' sangerData}} class="btn">
              <div class="btn__body">Order Sanger</div>
            </div>

            <div class="btn">
              <div class="btn__body">{{#link-to 'variants' currentFamily}}All variants{{/link-to}}</div>
            </div>

            {{#unless isHidden}}
            <div {{action "hideInList"}} class="btn">
              <div class="btn__body">Hide</div>
            </div>
            {{else}}
            <div {{action "unhideInList"}} class="btn">
              <div class="btn__body">Unhide</div>
            </div>
            {{/unless}}
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="panel__body">
    <div class="box predictions">
      <table class="predict">
        <tr class="predict__top">
          <td class="predict__main predict__part">Severity</td>
          <td {{bind-attr class=":predict__part siftWholeExome::undef"}}>
            <div class="predict__number">{{fallback siftWholeExome}}</div>
            <div class="predict__text">Avsift</div>
          </td>

          <td {{bind-attr class=":predict__part polyphenDivHuman::undef"}}>
            <div class="predict__number">{{fallback polyphenDivHuman}}</div>
            <div class="predict__text">PolyPhen Div</div>
          </td>

          <td {{bind-attr class=":predict__part polyphenVarHuman::undef"}}>
            <div class="predict__number">{{fallback polyphenVarHuman}}</div>
            <div class="predict__text">PolyPhen Var</div>
          </td>

          <td {{bind-attr class=":predict__part mutationTaster::undef"}}>
            <div class="predict__number">{{fallback mutationTaster}}</div>
            <div class="predict__text">Mutation taster</div>
          </td>

          <td {{bind-attr class=":predict__part gerpWholeExome::undef"}}>
            <div class="predict__number">{{fallback gerpWholeExome}}</div>
            <div class="predict__text">GERP exome</div>
          </td>

        </tr>

        <tr>
          <td class="predict__main predict__part">Frequency</td>
          <td {{bind-attr class=":predict__part thousandG::undef"}}>
            <div class="predict__number">{{fallback thousandG}}</div>
            <div class="predict__text">1000 Genomes</div>
          </td>

          <td {{bind-attr class=":predict__part esp6500::undef"}}>
            <div class="predict__number">{{fallback esp6500}}</div>
            <div class="predict__text">ESP 6500</div>
          </td>

          <td {{bind-attr class=":predict__part dbsnp129::undef"}}>
            <div class="predict__number">{{fallback dbsnp129}}</div>
            <div class="predict__text">dbSNP 129</div>
          </td>

          <td {{bind-attr class=":predict__part dbsnp::undef"}}>
            <div class="predict__number">{{dbsnp}}</div>
            <div class="predict__text">dbSNP</div>
          </td>
        </tr>

        <tr class="conservation-row">
          <td class="predict__main predict__part">Conservation</td>
          <td {{bind-attr class=":predict__part phylopWholeExome::undef"}}>
            <div class="predict__number">{{fallback phylopWholeExome}}</div>
            <div class="predict__text">WE PhyloP</div>
          </td>

          <td {{bind-attr class=":predict__part gerpElement::undef"}}>
            <div class="predict__number">{{fallback gerpElement}}</div>
            <div class="predict__text">GERP++ element</div>
          </td>

          <td {{bind-attr class=":predict__part lrtWholeExome::undef"}}>
            <div class="predict__number">{{fallback lrtWholeExome}}</div>
            <div class="predict__text">WE LRT</div>
          </td>
        </tr>
      </table>
    </div>

    <div class="box annotations">
      <table class="predict annotate-table">
        <tr>
          <td class="predict__main predict__part">
            <a {{bind-attr href=omimLink}} class="link" target="_blank">
              <div class="logo--omim">OMIM</div>
            </a>
          </td>
          <td class="predict__part">
            {{#each syn in omim.SYNDROMS}}
              <div>{{syn}}</div>
            {{/each}}
          </td>
        </tr>
        <tr>
          <td class="predict__main predict__part">
            <a href="http://www.hgmd.cf.ac.uk/ac/index.php" class="link" target="_blank">
              <img src="/static/img/hgmd-logo.svg">
            </a>
          </td>
          <td class="predict__part">{{hgmd}}</td>
        </tr>
        <tr>
          <td class="predict__main predict__part">Disease group</td>
          <td class="predict__part">{{diseaseGroup}}</td>
        </tr>
      </table>
    </div>

    <div class="box gt-call">
      <table class="predict gt-call-table">
        <thead>
          <tr>
            <th class="predict__part">IDN</th>
            <th class="predict__part">GT</th>
            <th class="predict__part">AD</th>
            <th class="predict__part">PL</th>
            <th class="predict__part">GQ</th>
          </tr>
        </thead>
        <tbody>
        {{#each call in gt.gtCalls}}
          <tr>
            <td class="predict__main predict__part">{{call.idn}}</td>
            <td class="predict__part">{{call.gt}}</td>
            <td class="predict__part">{{call.ad}}</td>
            <td class="predict__part">{{call.pl}}</td>
            <td class="predict__part">{{call.gq}}</td>
          </tr>
        {{/each}}

        <tr>
          <td class="predict__main predict__part">Inheritance models</td>
          {{#each model in geneModels}}
            <td class="predict__part">{{model}}</td>
          {{/each}}
        </tr>
        </tbody>
      </table>

    </div>

    {{#if hasCompounds}}
    <div class="box compounds">
      {{render "gt-call" this}}
    </div>
    {{/if}}

    <div class="box list--horizontal external-links">
      <a {{bind-attr href=ensemblLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/ensembl-logo-gray.svg"></div>
        <div class="link__text">Ensembl</div>
      </a>

      <a {{bind-attr href=hpaLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/hpa-logo-gray.svg"></div>
        <div class="link__text">HPA</div>
      </a>

      <a {{bind-attr href=stringLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/string-logo-gray.svg"></div>
        <div class="link__text">STRING</div>
      </a>

      <a {{bind-attr href=ucscLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/ucsc-logo-gray.svg"></div>
        <div class="link__text">UCSC</div>
      </a>

      <a {{bind-attr href=entrezLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/entrez-logo-gray.svg"></div>
        <div class="link__text">Entrez</div>
      </a>

      <a {{bind-attr href=idsLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/scout-logo-gray.svg"></div>
        <div class="link__text">IDs</div>
      </a>

      <a {{bind-attr href=igvLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/igv-logo-gray.svg"></div>
        <div class="link__text">IGV</div>
      </a>
    </div>

    <div class="box variant-comments">
      <div class="panel__wrapper family-comments">
        <div class="panel">
          <div class="panel__overlay--header">
            <div class="panel__overlay__title">Comments</div>
          </div>
          <div class="panel__body">
            {{#each comment in comments}}
            <div class="comment-box__wrapper">
              <div class="comment-box">
                <div class="comment-box__header">
                  <div class="comment-box__header__body">
                    <b>{{comment.userName}}</b> commented 3 days ago
                  </div>
                  <div {{action "deleteComment" comment}} class="comment-box__header__action">Delete</div>
                </div>
                <div class="comment-box__body">{{comment.userComment}}</div>
              </div>
            </div>
            {{else}}
            <div class="center-center no-comments"><small>No comments added yet.</small></div>
            {{/each}}
          </div>{{! END panel__body }}
        </div>{{! END panel }}

        <div class="panel">
          <div class="panel__overlay--header">
            <div class="panel__overlay__title">Submit new comment</div>
          </div>
          <div class="panel__body">
            {{comment-box submit="postComment" tags=variantPriorities
                          title="Variant comment" tagPrompt="Set priority"}}
          </div>
        </div>{{! END panel }}
      </div>{{! END panel__wrapper }}
    </div>{{! END box }}

  </div>

  {{outlet modal}}
</div>