<div {{bind-attr class="variantLoaded:panel--sidebar:panel :panel__wrapper--vertical :variants-panel"}}>

  {{#if isShowingModal}}
    <form {{action "filter" on="submit"}} class="panel--vertical panel__wrapper small filter-panel">
      {{! Static filters}}
      <div class="panel header-footer__wrapper--overlay">
        <div class="footer--overlay regular--stretched medium filter-footer">
          <div class="btn-group">
            <button type="submit" class="btn">
              <div class="btn__body">Filter</div>
            </button>
            <button class="btn" {{action 'clinicalFilter'}}>
              <div class="btn__body">Clinical filter</div>
            </button>
            <button class="btn" {{action 'clearFilter'}}>
              <div class="btn__body">Clear</div>
            </button>
          </div>{{! btn-group }}
        </div>{{! footer-overlay }}

        <div class="header-footer__body">
          <div class="list--vertical static-filter-panel-body-list">
            <div class="list__divider regular--stretched medium">
              Frequency cutoffs
            </div>

            <div class="list__item regular--stretched">
              <div>
                {{view Ember.RadioButton
                    name="relation"
                    selectionBinding="relation"
                    value="LESSER"}}
                <span>Lesser</span>
              </div>

              <div>
                {{view Ember.RadioButton
                    name="relation"
                    selectionBinding="relation"
                    value="GREATER"}}
                <span>Greater</span>
              </div>
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="hbvdb">HBVdb</label>
              {{input id="hbvdb"
                  type="text"
                  valueBinding="hbvdb"
                  placeholder="0.1"
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="genomes">1000 Genomes</label>
              {{input id="genomes"
                  type="text"
                  valueBinding="thousand_g"
                  placeholder="0.1"
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="dbSNP129">dbSNP 129</label>
              {{input id="dbSNP129"
                  type="text"
                  valueBinding="dbsnp129"
                  placeholder="0.1"
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="dbSNP132">dbSNP 132</label>
              {{input id="dbSNP132"
                  type="text"
                  valueBinding="dbsnp132"
                  placeholder="0.1"
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="esp6500">esp6500</label>
              {{input id="esp6500"
                  type="text"
                  valueBinding="esp6500"
                  placeholder="0.1"
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__divider regular--stretched medium">
              Database and gene search
            </div>
            <div class="list__item regular--stretched">
              {{#each db in filter.clinical_db_gene_annotation}}
                <div>
                  {{view Ember.RadioButton
                      name="database"
                      selectionBinding="database"
                      value=db}}
                  <span>{{db}}</span>
                </div>
              {{/each}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="gene-name">Gene name</label>
              {{input id="gene-name"
                  type="text"
                  valueBinding="gene_name"
                  placeholder='e.g. ADK'
                  classNames="text-input slim"}}
            </div>{{! list__item }}

            <div class="list__item regular--stretched">
              <label for="offset">Skip first...</label>
              {{input id="offset"
                  type="number"
                  valueBinding="offset"
                  classNames="text-input slim"}}
            </div>{{! list__item }}
          </div>{{! list--vertical }}
        </div>{{! header-footer__body }}
      </div>{{! panel }}

      {{! Multiple dynamic filter panels}}
      {{#each group in filterGroups}}
        <div class="panel header-footer__wrapper">
          <div class="header slim medium">{{group.name}}</div>
          <div class="header-footer__body">
            <div class="list--vertical">
              {{#each filter in group.filters}}
                <div class="list__item regular--stretched">
                  {{input type="checkbox"
                      checkedBinding="filter.property"
                      classNames="toggle-slider__input"}}
                  <span>{{filter.name}}</span>
                </div>
              {{/each}}
            </div>{{! list--vertical }}
          </div>{{! END header-footer__body }}
        </div>{{! END panel }}
      {{/each}}
    </form>
  {{/if}}

  <div class="panel--vertical header-footer__wrapper--overlay">
    <div class="header--overlay">
      <div class="bar--space-between regular--stretched medium">
        {{#if variantLoaded}}
          <div class="text-center full-width">
            Family {{currentFamilyModel.id}} <small> | {{database}}</small>
          </div>
        {{else}}
          {{#link-to "index" classNames="btn"}}
            <div class="btn__body">Families</div>
          {{/link-to}}

          <div>
            Family {{currentFamilyModel.id}} <small>| {{database}}</small>
          </div>

          <div {{action "toggleProperty" "isShowingModal"}} class="btn">
            <div class="btn__body">
              {{#if isShowingModal}}Close{{else}}Open{{/if}} filter
            </div>
          </div>
        {{/if}}
      </div>{{! bar--space-between }}

      <hr class="just-line">

      <div class="column__wrapper small">
        <div class="column--small slim">Rank score</div>
        <div class="column--small slim">Gene</div>
        {{#unless variantLoaded}}
          <div class="column--small slim">1000 Genomes</div>
          <div class="column--small slim">PolyPhen</div>
          <div class="column--small slim">Gene annotation</div>
          <div class="column--semi slim">Functional annotation</div>
          <div class="column slim">Disease group</div>
          <div class="column--small slim">Disease gene model</div>
          <div class="column slim">Inheritance models</div>
          <div class="column--mini slim">HGMD</div>
          <div class="column--mini slim">Hide</div>
        {{/unless}}
      </div>{{! column__wrapper }}
    </div>{{! header--overlay }}

    <div class="header-footer__body small">
      {{#if model}}
        <div class="list--vertical variants-list">
          {{#each variant in model}}
            {{#unless variant.isHidden}}
              <div class="list__item column__wrapper">
                {{! COLUMN }}
                {{#link-to "variant" variant classNames="column--small bar--space-around slim medium rank-score-column"}}
                  <div>
                    {{variant.rankScore}}
                  </div>
                  {{#if variant.hasCompounds}}
                    <div class="notification small">
                      {{variant.individualRankScore}}
                    </div>
                  {{else}}
                    {{! Just fill-out }}
                    <div class="notification--fake small"></div>
                  {{/if}}
                {{/link-to}}

                {{! COLUMN}}
                <div class="column--small slim">
                  {{variant.hgncSymbol}}
                </div>

                {{#unless variantLoaded}}
                  {{! COLUMN }}
                  <div {{bind-attr class=":column--small :slim variant.hbvdb:bar--space-between variant.thousandG::undef :bs-popover__wrapper"}}>
                    {{#if variant.hbvdb}}
                      <div {{bind-attr class=":notification--bubble variant.hbvdbHuman"}}>&nbsp;</div>
                    {{/if}}
                    <div class="text-right">
                      {{fallback variant.thousandG}}
                    </div>

                    {{#bs-popover}}
                      <table class="table--auto always-visible-text">
                        <thead>
                          <tr>
                            {{#each property in variant.frequencies}}
                              <th class="slim">{{property.name}}</th>
                            {{/each}}
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            {{#each property in variant.frequencies}}
                              <td class="slim text-right">
                                {{fallback property.value}}
                              </td>
                            {{/each}}
                          </tr>
                        </tbody>
                      </table>
                    {{/bs-popover}}
                  </div>{{! column--small }}

                  {{! COLUMN }}
                  <div {{bind-attr class=":column--small :slim :text-right variant.polyphenDivHuman::undef :bs-popover__wrapper"}}>
                    {{fallback variant.polyphenDivHuman}}
                    {{#bs-popover}}
                      <table class="table--auto always-visible-text">
                        <thead>
                          <tr>
                            {{#each property in variant.severities}}
                              <th class="slim">{{property.name}}</th>
                            {{/each}}
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            {{#each property in variant.severities}}
                              <td class="slim">{{fallback property.value}}</td>
                            {{/each}}
                          </tr>
                        </tbody>
                      </table>
                    {{/bs-popover}}
                  </div>

                  {{! COLUMN }}
                  <div class="column--small slim">
                    {{variant.geneAnnotation}}
                  </div>

                  {{! COLUMN }}
                  <div {{bind-attr class=":column--semi :slim variant.functionalAnnotation::undef"}}>
                    {{#if variant.functionalAnnotation}}
                      {{variant.functionalAnnotation}}
                    {{else}}
                      Nada
                    {{/if}}
                  </div>

                  {{! COLUMN }}
                  <div {{bind-attr class=":column :slim variant.diseaseGroup::undef"}}>
                    {{#if variant.diseaseGroup}}
                      {{variant.diseaseGroup}}
                    {{else}}
                      Nada
                    {{/if}}
                  </div>

                  {{! COLUMN }}
                  <div {{bind-attr class=":column--small :slim variant.diseaseGeneModel::undef"}}>
                    {{#if variant.diseaseGeneModel}}
                      {{variant.diseaseGeneModel}}
                    {{else}}
                      Nada
                    {{/if}}
                  </div>

                  {{! COLUMN }}
                  <div {{bind-attr class=":column variant.geneModel::undef :inheritance-model-cell :bs-popover__wrapper"}}>
                    <div class="bar">
                      {{#each model in variant.geneModels}}
                        <div class="cell regular--stretched">{{model}}</div>
                      {{/each}}
                    </div>
                    {{#if variant.hasCompounds}}
                      {{#bs-popover direction="left"}}
                        <table class="table--auto">
                          <thead>
                            <tr>
                              <th class="slim--stretched">Combined score</th>
                              <th class="slim--stretched">Rank score</th>
                              {{#each sample in variant.compounds.content.0.samples}}
                                <th class="slim--stretched">{{sample}}</th>
                              {{/each}}
                              <th class="slim--stretched">
                                Inheritance models
                              </th>
                              <th class="slim--stretched">Gene annotations</th>
                              <th class="slim--stretched">
                                Functional annotation
                              </th>
                            </tr>
                          </thead>

                          <tbody>
                            {{#each compound in variant.compounds}}
                              <tr>
                                <td class="text-center slim">
                                  {{compound.combinedScore}}
                                </td>
                                <td class="text-center">
                                  {{#link-to "variant" compound.variant}}
                                    {{compound.rankScore}}
                                  {{/link-to}}
                                </td>
                                {{#each gtcall in compound.gtcalls}}
                                  <td class="slim">{{gtcall}}</td>
                                {{/each}}
                                <td class="slim">{{compound.geneModel}}</td>
                                <td class="slim">
                                  {{compound.geneAnnotation}}
                                </td>
                                <td class="slim">
                                  {{compound.functionalAnnotation}}
                                </td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      {{/bs-popover}}
                    {{/if}}
                  </div>{{! column }}

                  {{! COLUMN }}
                  <div {{bind-attr class=":column--mini :slim variant.hgmdVariantType::undef"}}>
                    {{#if variant.hgmdVariantType}}
                      {{variant.hgmdVariantType}}
                    {{else}}
                      Nada
                    {{/if}}
                  </div>

                  {{! COLUMN }}
                  <div class="column--mini slim">
                    <div class="btn hide-variant-btn">
                      <div {{action "hideVariant" variant}} class="btn__body">
                        Hide
                      </div>
                    </div>
                  </div>
                {{/unless}}{{! variant is loaded }}
              </div>{{! list__item }}
            {{/unless}}
          {{/each}}
        </div>{{! list--vertical }}
        <div class="regular">
          <div {{action "loadMore"}} class="btn">
            <div class="btn__body regular--stretched large">
              Load more variants
            </div>
          </div>
        </div>{{! regular }}
      {{else}}{{! no model }}
        <div class="center-center"><img src="/static/img/loader.gif"></div>
      {{/if}}
    </div>{{! header-footer__body }}
  </div>{{! panel--vertical }}

</div>{{! variants-panel }}

{{outlet}}
