<div class="panel header-footer__wrapper--overlay variant-panel small">

  <div class="header--overlay column__wrapper bar variant-header">
    <div class="column--small slim center-center large">{{rankScore}}</div>

    <div {{action "toggleProperty" "isShowingFullGeneName"}} class="column slim bar--vertical">
      <div class="dotdotdot">
        {{#if isShowingFullGeneName}}
          {{capitalize hgncApprovedName}}
        {{else}}
          {{hgncSymbol}} <small>{{hgncSynonymsString}}</small>
        {{/if}}
      </div>
      <div><small>{{ensemblGeneIdString}}</small></div>
    </div>

    <div class="column slim bar--vertical">
      <div>
        Chr {{chrom}} | {{startBp}}
        {{#unless isSingleBase}} - {{stopBp}}{{/unless}} |
        {{refNt}} &rarr; {{altNt}}
      </div>
      <div>
        <small>
          {{capitalize geneAnnotation}} |
          {{#if functionalAnnotation}}
            {{capitalize functionalAnnotation}}
          {{else}}
            No functional annotation
          {{/if}}
        </small>
      </div>
    </div>

    <div class="column slim center-center">
      <div class="btn-group medium">
        <div {{action 'openOrderModal' sangerData}} class="btn">
          <div class="btn__body regular--stretched">Order Sanger</div>
        </div>

        <div class="btn">
          <div class="btn__body regular--stretched">{{#link-to 'variants' currentFamily}}All variants{{/link-to}}</div>
        </div>

        {{#unless isHidden}}
        <div {{action "hideInList"}} class="btn">
          <div class="btn__body regular--stretched">Hide</div>
        </div>
        {{else}}
        <div {{action "unhideInList"}} class="btn">
          <div class="btn__body regular--stretched">Unhide</div>
        </div>
        {{/unless}}
      </div>
    </div>{{! END column }}
  </div>{{! END header--overlay }}

  <div class="header-footer__body variant__body">
    <div class="regular-width predictions">
      <table class="table">
        <tbody>
          <tr>
            <th>C scores</th>
            <td {{bind-attr class="unscaledCscoreThousandG::undef :slim"}}>
              <div class="predict__number">{{fallback unscaledCscoreThousandG}}</div>
              <div class="predict__text"><small>Unscaled 1000G</small></div>
            </td>
            <td {{bind-attr class="scaledCscoreThousandG::undef :slim"}}>
              <div class="predict__number">{{fallback scaledCscoreThousandG}}</div>
              <div class="predict__text"><small>Scaled 1000G</small></div>
            </td>
            <td {{bind-attr class="unscaledCscoreSnv::undef :slim"}}>
              <div class="predict__number">{{fallback unscaledCscoreSnv}}</div>
              <div class="predict__text"><small>Unscaled SNV</small></div>
            </td>
            <td {{bind-attr class="scaledCscoreSnv::undef :slim"}}>
              <div class="predict__number">{{fallback scaledCscoreSnv}}</div>
              <div class="predict__text"><small>Scaled SNV</small></div>
            </td>
          </tr>

          <tr>
            <th>Severity</th>
            <td {{bind-attr class="siftWholeExome::undef :slim"}}>
              <div class="predict__number">{{fallback siftWholeExome}}</div>
              <div class="predict__text"><small>Avsift</small></div>
            </td>

            <td {{bind-attr class="polyphenDivHuman::undef :slim"}}>
              <div class="predict__number">{{fallback polyphenDivHuman}}</div>
              <div class="predict__text"><small>PolyPhen Div</small></div>
            </td>

            <td {{bind-attr class="polyphenVarHuman::undef :slim"}}>
              <div class="predict__number">{{fallback polyphenVarHuman}}</div>
              <div class="predict__text"><small>PolyPhen Var</small></div>
            </td>

            <td {{bind-attr class="mutationTaster::undef :slim"}}>
              <div class="predict__number">{{fallback mutationTaster}}</div>
              <div class="predict__text"><small>Mutation taster</small></div>
            </td>

            <td {{bind-attr class="gerpWholeExome::undef :slim"}}>
              <div class="predict__number">{{fallback gerpWholeExome}}</div>
              <div class="predict__text"><small>GERP exome</small></div>
            </td>

          </tr>

          <tr>
            <th>Frequency</th>
            <td {{bind-attr class="hbvdb::undef :slim"}}>
              <div class="predict__number">{{fallback hbvdb}}</div>
              <div class="predict__text"><small>HBVdb</small></div>
            </td>

            <td {{bind-attr class="thousandG::undef :slim"}}>
              <div class="predict__number">{{fallback thousandG}}</div>
              <div class="predict__text"><small>1000 Genomes</small></div>
            </td>

            <td {{bind-attr class="esp6500::undef :slim"}}>
              <div class="predict__number">{{fallback esp6500}}</div>
              <div class="predict__text"><small>ESP 6500</small></div>
            </td>

            <td {{bind-attr class="dbsnp129::undef :slim"}}>
              <div class="predict__number">{{fallback dbsnp129}}</div>
              <div class="predict__text"><small>dbSNP 129</small></div>
            </td>

            <td {{bind-attr class="dbsnp::undef :slim"}}>
              <div class="predict__number">{{dbsnpFlag}}</div>
              <div class="predict__text"><small>dbSNP 137</small></div>
            </td>
          </tr>

          <tr class="conservation-row">
            <th>Conservation</th>
            <td {{bind-attr class="phylopWholeExome::undef :slim"}}>
              <div class="predict__number">{{fallback phylopWholeExome}}</div>
              <div class="predict__text"><small>WE PhyloP</small></div>
            </td>

            <td {{bind-attr class="gerpElement::undef :slim"}}>
              <div class="predict__number">{{fallback gerpElement}}</div>
              <div class="predict__text"><small>GERP++ element</small></div>
            </td>

            <td {{bind-attr class="lrtWholeExome::undef :slim"}}>
              <div class="predict__number">{{fallback lrtWholeExome}}</div>
              <div class="predict__text"><small>WE LRT</small></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="regular-width annotations">
      <div class="panel__wrapper">
        <div class="panel no-border mr">
          <div class="panel__body">
            <table class="table annotate-table">
              <tr>
                <th class="regular--stretched">
                  <a {{bind-attr href=omimLink}} target="_blank">
                    <div class="logo--omim">OMIM</div>
                  </a>
                </th>
                <td class="slim">
                  {{#each syn in omim.SYNDROMS}}
                    <div>{{syn}}</div>
                  {{/each}}
                </td>
              </tr>
              <tr>
                <th class="regular--stretched">
                  <a {{bind-attr href=hgmdLink}} target="_blank">
                    <img class="hgmd-logo" src="/static/img/hgmd-logo.svg">
                  </a>
                  <div class="small">{{hgmdAccession}}</div>
                </th>
                <td class="slim">
                  {{#each link in hgmdVariantPmidLinks}}
                  <a {{bind-attr href=link.link}} target="_blank">
                    {{link.id}}
                  </a>
                  {{/each}}
                </td>
              </tr>
              <tr>
                <th class="regular--stretched">Disease group</th>
                <td class="slim">{{diseaseGroup}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel--sidebar">
          <table class="table">
            <thead>
              <tr><th class="slim--stretched">Predicted protein change</th></tr>
            </thead>
            <tbody>
              {{#each item in variantFunctions}}
              <tr>
                <td class="slim">{{item}}</td>
              </tr>
              {{else}}
              <tr>
                <td class="slim"><small>No functions annotated.</small></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="regular-width gt-call">
      <div class="panel__wrapper">
        <div class="panel no-border mr">
          <table class="table">
            <thead>
              <tr>
                <th class="slim--stretched">IDN</th>
                <th class="slim--stretched">GT</th>
                <th class="slim--stretched">AD</th>
                <th class="slim--stretched">PL</th>
                <th class="slim--stretched">GQ</th>
              </tr>
            </thead>
            <tbody>
            {{#each call in gt.gtCalls}}
              <tr>
                <td class="slim text-center">{{call.idn}}</td>
                <td class="slim text-center">{{call.gt}}</td>
                <td class="slim text-center">{{call.ad}}</td>
                <td class="slim">{{call.pl}}</td>
                <td class="slim text-right">{{call.gq}}</td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>{{! END panel }}
        <div class="panel--sidebar">
          <table class="table mb">
            <thead>
              <tr>
                <th class="slim--stretched">Disease gene models</th>
              </tr>
            </thead>
            <tbody>
              {{#each model in diseaseGeneModels}}
              <tr>
                <td class="slim">{{model}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <th class="slim--stretched">Inheritance models</th>
              </tr>
            </thead>
            <tbody>
              {{#each model in geneModels}}
              <tr>
                <td class="slim">{{model}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>{{! END panel__wrapper }}
    </div>

    {{#if hasCompounds}}
    <div class="regular-width compounds">
      {{render "gt-call" gt}}
    </div>
    {{/if}}

    <div class="bar--space-between regular-width external-links">
      <a {{bind-attr href=ensemblLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/ensembl-logo-gray.svg"></div>
        <div class="link__text">Ensembl</div>
      </a>

      <a {{bind-attr href=hpaLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/hpa-logo-gray.svg"></div>
        <div class="link__text">HPA</div>
      </a>

      <a {{bind-attr href=stringLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/string-logo-gray.svg"></div>
        <div class="link__text">STRING</div>
      </a>

      <a {{bind-attr href=ucscLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/ucsc-logo-gray.svg"></div>
        <div class="link__text">UCSC</div>
      </a>

      <a {{bind-attr href=entrezLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/entrez-logo-gray.svg"></div>
        <div class="link__text">Entrez</div>
      </a>

      <a {{bind-attr href=idsLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/scout-logo-gray.svg"></div>
        <div class="link__text">IDs</div>
      </a>

      <a {{bind-attr href=igvLink}} class="link" target="_blank">
        <div class="link__icon"><img src="/static/img/igv-logo-gray.svg"></div>
        <div class="link__text">IGV</div>
      </a>
    </div>

    <div class="regular-width variant-comments-panel">
      <div class="panel__wrapper">
        <div class="panel header-footer__wrapper mr">
          <div class="header slim medium mb">Comments</div>
          <div class="header-footer__body">
            {{#each comment in comments}}
            {{comment-box
                comment=comment
                commentId=comment._id
                date=comment.createdAt
                username=comment.email
                currentUsername=user.email
                remove="deleteComment"
                edit="editComment"
                tags=variantPriorities}}
            {{/each}}
          </div>
        </div>
        <div class="panel--sidebar">
          {{comment-box
              submit="postComment"
              tags=variantPriorities
              isWriteMode=true}}
        </div>
      </div>

    </div>{{! END variant-comment-panel }}
  </div>{{! END header-footer__body }}

  {{outlet modal}}
</div>
