<div class="panel header-footer__wrapper--overlay family-panel">

  <div class="header--overlay column__wrapper family-header">
    <div class="column center-center">
      <span class="family-id">Family {{id}}</span>
    </div>
    <div class="column center-center medium">
      Last update: {{fromNow updateDate}}
    </div>
    <div class="column center-center medium">
      <div class="btn-group">
        <div class="btn">
          <div class="btn__body regular--stretched">
            {{#link-to "variants" this (query-params database=null)}}Variants{{/link-to}}
          </div>
        </div>

        <div {{action "toggleProperty" "isShowingRawPedigree"}} class="btn">
          <div class="btn__body regular--stretched">
            {{#unless isShowingRawPedigree}}
            Edit pedigree
            {{else}}
            Save pedigree
            {{/unless}}
          </div>
        </div>

        <div {{action "openModal" "newSampleModal"}} class="btn">
          <div class="btn__body regular--stretched">Add sample</div>
        </div>
      </div>{{! END btn-group }}
    </div>{{! END column }}
  </div>{{! END header--overlay }}

  <div class="header-footer__body family-body">
    {{#if isShowingRawPedigree}}
    <div class="raw-pedigree">
      {{{pedigree}}}
    </div>

    {{else}}
    <div class="bar--center pedigree-table regular-width mb">
      <table class="table--auto small">
        <thead>
          <tr>
            <th class="slim">IDN</th>
            <th class="slim">CMMS ID</th>
            <th class="slim">SciLife ID</th>
            <th class="slim">CMMS SeqID</th>

            <th class="slim">Sex</th>
            <th class="slim">Phenotype</th>
            <th class="slim">Clinical DB</th>
            <th class="slim">Phenotype terms</th>
            <th class="slim">Inheritance model(s)</th>

            <th class="slim">MD</th>
            <th class="slim">Iso. kit</th>
            <th class="slim">Iso. personell</th>
            <th class="slim">Iso. date</th>
            <th class="slim">Cap. kit</th>
            <th class="slim">Cap. personell</th>
            <th class="slim">Cap. date</th>
            <th class="slim">Cluster. date</th>
            <th class="slim">Seq. kit</th>
          </tr>
        </thead>
        <tbody>
          {{#each sample in samples}}
          <tr>
            <td class="slim">{{sample.idn}}</td>
            <td class="slim">{{sample.cmmsid}}</td>
            <td class="slim">{{sample.scilifeid}}</td>
            <td class="slim">{{sample.cmms_seqid}}</td>

            <td class="slim">{{sample.sex}}</td>
            <td class="slim">{{sample.phenotype}}</td>
            <td class="slim">{{sample.clinical_db}}</td>
            <td class="slim">{{sample.phenotype_terms}}</td>
            <td class="slim bar--vertical">
              <div>{{sample.inheritance_model}}</div>
            </td>

            <td class="slim">{{sample.medical_doctor}}</td>
            <td class="slim">{{sample.isolation_kit}}</td>
            <td class="slim">{{sample.isolation_personnel}}</td>
            <td class="slim">{{sample.isolation_date}}</td>
            <td class="slim">{{sample.capture_kit}}</td>
            <td class="slim">{{sample.capture_personnel}}</td>
            <td class="slim">{{sample.capture_date}}</td>
            <td class="slim">{{sample.clustering_date}}</td>
            <td class="slim">{{sample.sequencing_kit}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>{{! END box, family }}

    {{#if hasGeneModels}}
    <div class="bar--center mb">
      <table class="table small regular-width">
        <tbody>
          <tr>
            <th class="regular--stretched">Possible gene models</th>
            {{#each model in samples.1.inheritanceModels}}
              <td class="regular--stretched">{{model}}</td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
    {{/if}}

    <div class="tab__wrapper mb">
      <div class="tab__bar--top">
        {{#each db in filter.clinical_db_gene_annotation}}
        {{#link-to (query-params database=db) classNames="tab medium slim"}}
          {{capitalize db}}
        {{/link-to}}
        {{/each}}
      </div>
      <div class="tab__body regular">
        <div class="panel__wrapper">
          <div class="panel mr">
            {{#each group in groupedComments}}
            <div class="list__divider medium slim mb">{{group.id}}</div>
              {{#each comment in group.comments}}
              {{comment-box
                  comment=comment
                  commentId=comment._id
                  date=comment.createdAt
                  username=comment.email
                  currentUsername=user.email
                  remove="deleteComment"
                  edit="editComment"
                  tags=commentCategories}}
              {{/each}}
            {{/each}}
          </div>
          <div class="panel--sidebar">
            {{comment-box
                category=database
                submit="postComment"
                tags=commentCategories
                isWriteMode=true}}
          </div>
        </div>
      </div>
    </div>

    {{/if}}
  </div>
</div>