<div class="issue-box">
  {{#unless model.isLoaded}}
    <div class="center__wrapper">
      <p>Loading issues...</p>
    </div>
  {{else}}
    <h2>
      <a {{bind-attr href="url"}}>{{title}}</a>
      <small>{{fromNow createdAt}}</small>
    </h2>
    {{{html}}}
  {{/unless}}
</div>