<div class="a-layout__wrapper a-layout__panel--full">

  <div class="a-layout">
    <div {{bind-attr class=":a-layout__wrapper variantIsLoaded:a-layout__panel--quarter:a-layout__panel--full :a-floater__wrapper :br--listed"}}>
      <div class="a-layout--vertical">

        {{! "Floating" headers }}
        <div class="variants-header a-list__item--header bb">

          <div class="a-bar--space-between">
            <div class="dotdotdot slim a-bar__item--half br--listed">Rank score</div>
            <div class="dotdotdot slim a-bar__item--half br--listed">Gene</div>

            {{#unless variantIsLoaded}}
              <div class="dotdotdot slim a-bar__item--half br--listed">1000 Genomes</div>
              <div class="dotdotdot slim a-bar__item--half br--listed">PolyPhen</div>
              <div class="dotdotdot slim a-bar__item br--listed">Gene annotation</div>
              <div class="dotdotdot slim a-bar__item br--listed">Func. annotation</div>
              {{#unless researchMode}}
                <div class="dotdotdot slim a-bar__item--double br--listed">Disease group</div>
                <div class="dotdotdot slim a-bar__item--half br--listed">Disease gene model</div>
              {{/unless}}
              <div class="dotdotdot slim a-bar__item--double br--listed">Inheritance models</div>
              <div class="dotdotdot slim a-bar__item--half br--listed">HGMD</div>
              <div class="dotdotdot slim a-bar__item--half br--listed">Archive</div>
            {{/unless}}
          </div>
        </div>

        <div class="a-layout__panel--full is-scrollable variants-main">
          {{#if model.isLoading}}
            <h2 class="text-center">Loading...</h2>
          {{/if}}
          {{#each variant in controller}}
            {{#unless variant.isHidden}}
              {{list-variant model=variant instituteId=instituteId minify=variantIsLoaded classNames="a-list__item a-bar--space-between variant-list-item"}}
            {{/unless}}

          {{else}}
            {{#if model.isLoaded}}
              <h2 class="text-center">No matching variants found.</h2>
              <p class="text-center">
                Try changing or deselecting some filters.
              </p>
            {{/if}}
          {{/each}}

          <div class="a-list__item slim">
            <div {{action "loadMore"}} class="a-button center__wrapper">
              <div class="a-button__icon a-icon icon-infinity"></div>
              <div class="a-button__body big-font">Load more</div>
            </div>
          </div>
        </div>

        {{#unless variantIsLoaded}}
          {{! "Floating" footer }}
          <div class="a-layout__footer a-toolbar slim bt">
            <div class="a-button__group">
              {{#link-to "institute" instituteId classNames="a-button"}}
                <div class="a-button__body">
                  Institue: {{instituteId}}
                </div>
              {{/link-to}}

              {{#link-to "family" instituteId familyId classNames="a-button"}}
                <div class="a-button__body">Case: {{familyId}}</div>
              {{/link-to}}
            </div>

            <div class="center__wrapper">Database: {{database}}</div>

            <div class="a-button__group">
              <div {{action "doFilter"}} class="a-button">
                <div class="a-button__icon a-icon icon-ccw"></div>
                <div class="a-button__body">Update variants</div>
              </div>

              <div {{action "toggleProperty" "isShowingFilters"}} class="a-button">
                <div class="a-button__icon a-icon icon-target"></div>
                <div class="a-button__body">
                  {{#unless isShowingFilters}} Show {{else}} Hide {{/unless}}
                  filters
                </div>
              </div>
            </div>
          </div>
        {{/unless}}
      </div>

    </div>

    {{#unless variantIsLoaded}}
      {{! FILTER PANEL }}
      {{#if isShowingFilters}}
        <div class="filter-panel a-layout__panel--quarter a-list br--listed">
          <div class="a-bar--space-between slim bb">
            <div {{action "doFilterClinically"}} class="a-button">
              <div class="a-button__icon a-icon icon-lifebuoy"></div>
              <div class="a-button__body">Clinical filter</div>
            </div>

            <div {{action "doClearFilters"}} class="a-button">
              <div class="a-button__icon a-icon icon-cancel-circled"></div>
              <div class="a-button__body">Clear</div>
            </div>
          </div>
          <form {{action "submitdiv" on="submit"}}>
            <div class="a-list__item--header slim text-center">
              Frequency cutoffs
            </div>

            <div class="a-list__item a-choice__wrapper regular">
              <div class="a-choice">
                {{view Ember.RadioButton
                    name="relation"
                    selectionBinding="relation"
                    value="LESSER"}}
                <div class="a-choice__label">Less than</div>
              </div>

              <div class="a-choice">
                {{view Ember.RadioButton
                    name="relation"
                    selectionBinding="relation"
                    value="GREATER"}}
                <div class="a-choice__label">Greater than</div>
              </div>
            </div>

            <div class="regular">
              {{input id="hbvdb"
                      type="number"
                      step="0.01"
                      valueBinding="hbvdb"
                      placeholder="HBVdb"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="regular">
              {{input id="genomes"
                      type="number"
                      step="0.01"
                      valueBinding="thousand_g"
                      placeholder="1000 Genomes"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="regular">
              {{input id="dbSNP129"
                      type="number"
                      step="0.01"
                      valueBinding="dbsnp129"
                      placeholder="dbSNP 129"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="regular">
              {{input id="dbSNP132"
                      type="number"
                      step="0.01"
                      valueBinding="dbsnp132"
                      placeholder="dbSNP 132"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="regular">
              {{input id="esp6500"
                      type="number"
                      step="0.01"
                      valueBinding="esp6500"
                      placeholder="esp6500"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="a-list__item--header bt slim text-center">
              Database and gene search
            </div>

            <div class="a-list__item a-bar--space-between">
              {{#each db in filter.clinical_db_gene_annotation}}
                {{#link-to "variants" instituteId familyId db classNames="a-bar__item regular br--listed"}}
                  {{db}}
                {{/link-to}}
              {{/each}}
            </div>

            <div class="regular">
              {{input id="gene-name"
                      type="text"
                      valueBinding="gene_name"
                      placeholder="HGNC gene symbol"
                      classNames="a-form__input"
                      required=""}}
            </div>

            <div class="regular">
              {{input id="offset"
                      type="number"
                      valueBinding="offset"
                      classNames="a-form__input"
                      placeholder="Skip first..."
                      required=""}}
            </div>

            {{! Multiple dynamic filter panels}}
            {{#each group in filterGroups}}
              <div class="a-list__item--header bt slim text-center">
                {{group.name}}
              </div>

              {{#each filter in group.filters}}
                <div class="regular">
                  <div class="a-checkbox__wrapper">
                    <div class="a-checkbox__box">
                      {{input type="checkbox"
                              checkedBinding="filter.property"
                              classNames="toggle-slider__input"}}
                    </div>
                    <div class="a-checkbox__caption dotdotdot">
                      {{filter.name}}
                    </div>
                  </div>
                </div>
              {{/each}}
            {{/each}}

          </form>
        </div>
      {{/if}}
    {{/unless}}

    {{outlet}}
  </div>

</div>
